<html>
<head>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="well">
        <h1>PHP User Authentication</h1>
        <div class="col-md-2 col-md-offset-5">
            <a href="/">Home</a>
            &nbsp;&nbsp;
            {% if current_user %}
            <a href="/log_out">Log Out</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% if alert == 'sign-up' %}
            <div class="alert alert-success" role="alert"><strong>Welcome</strong>, {{current_user.getUsername}}. You have successfully signed in!</div>
        {% endif %}

        {% if alert == 'log-in' %}
            <div class="alert alert-success" role="alert"><strong>Welcome {{current_user.getUsername}}</strong>. You have successfully logged in!</div>
        {% endif %}
    </div>
</body>
</html>
