<html>
<head>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="well">
        <h1>PHP User Authentication</h1>
        <a href="/">Home</a>
    </div>
    <div class="container">
        <div class="alert alert-success" role="alert">Welcome, {{user.getUsername}}. You have successfully signed in!</div>
    </div>
</body>
</html>
